{
  "plugins": ["googleappsscript"],
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "rules": {},
  "parserOptions": {
    "ecmaVersion": 9
  },
  "env": {
    "es6": true,
    "googleappsscript/googleappsscript": true
  }
}
